
@{
    ViewData["Title"] = "Edit firm participant";
}
@model FirmPartyGoerViewModel;

<div id="adderContentWrapper" class="container">
    <div id="adderHeader" class="container">
        <div id="pageName">
            <h1>Edit firm participant</h1>
        </div>
    </div>
    <div class="myForm">
        <form class="formItself" asp-action="EditFirmPartyGoer" asp-controller="Party">
            <h2>Edit firm participant</h2>
            <div class="form-group">
                <label asp-for="name">Firm name</label>
                <input class="form-control d-inline" asp-for="name" placeholder="@Model.name" value="@Model.name">
                <br />
                <div class="alert alert-danger d-inline" style="width: auto; display: @ViewData["errorName"];">
                    <span>@Html.ValidationMessageFor(model => model.name)</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="firmNumber">Firm register number</label>
                <input class="form-control d-inline" asp-for="firmNumber" placeholder="@Model.firmNumber" value="@Model.firmNumber" type="number">
                <br />
                <div class="alert alert-danger d-inline" style="width: auto; display: @ViewData["errorFirmNumber"];">
                    <span>@Html.ValidationMessageFor(model => model.firmNumber)</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="firmParticipants">No. of participants from firm</label>
                <input class="form-control d-inline" asp-for="firmParticipants" placeholder="@Model.firmParticipants" value="@Model.firmParticipants" type="number">
                <br />
                <div class="alert alert-danger d-inline" style="width: auto; display: @ViewData["errorFirmParticipants"];">
                    <span>@Html.ValidationMessageFor(model => model.firmParticipants)</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="paymentType">Payment type</label>
                <select asp-for="paymentType" class="form-control">
                    @if (Model.paymentType == 0) {
                        <option value="0" selected>Bank transfer</option>
                        <option value="1">Cash</option>
                    }
                    else {
                        <option value="0">Bank transfer</option>
                        <option value="1" selected>Cash</option>
                    }
                </select>
                <br />
                <div class="alert alert-danger d-inline" style="width: auto; display: @ViewData["errorPaymentType"];">
                    <span>@Html.ValidationMessageFor(model => model.paymentType)</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="extraInfo">Extra info</label>
                <textarea class="form-control d-inline" asp-for="extraInfo" placeholder="@Model.extraInfo" value="@Model.extraInfo"></textarea>
                <br />
                <div class="alert alert-danger d-inline" style="width: auto; display: @ViewData["errorExtraInfo"];">
                    <span>@Html.ValidationMessageFor(model => model.extraInfo)</span>
                </div>
            </div>
            <br />
            <input type="hidden" asp-for="partyRefId" value="@Model.partyRefId" />
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-danger" onclick="javascript:window.location.href = window.location.href.replace(/(Party\/AddFirmPartyGoer)(.*)/g, 'Party/PartyGoers/' + " @Model.partyRefId ");">Back</button>
        </form>
    </div>
</div>